body {
    background-color: #4f4f4f;
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    height: 18px;
    background-color: black;
    box-shadow: #2FF3FF 0 0 30px;
    padding: 10px;
    overflow-x: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    border-radius: 7px;
    background-color: black;
    text-shadow: #2FF3FF 0 0 10px;
    color: #2FF3FF;
    scale: 1.1;
}

#qsoubox {
    margin: 50px;
    color: #fff;
}

#qsou {
    height: 200px;
    max-width: 800px;
    overflow: auto;
}

#qsoubox hr {
    width: 150px;
    border-color: #2FF3FF;
}

footer {
    margin-top: 390px;
    background-color: black;
    height: 200px;
    padding: 20px;
    color: #fff;
}

footer b a {
    text-decoration: underline #2FF3FF;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

footer b a:hover {
    color: #2FF3FF;
    text-shadow: #2FF3FF 0 0 5px;
    text-decoration: none;
}