body {
    background-color: #4f4f4f;
}

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

.menu-input, .menu-label {
    display: none;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    text-shadow: #ffffff 0 0 5px;
    text-decoration: underline #2FF3FF 2px;
    scale: 1.2;
}

nav:hover a:not(:hover) {
    color: #2FF3FF;
}

#qsousection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}

#qsoubox {
    margin: 50px;
    color: #fff;
}

#qsou {
    height: 200px;
    max-width: 400px;
    max-height: 150px;
}

#qsoubox hr {
    width: 150px;
    border-color: #2FF3FF;
}

#projectbox {
    margin: 50px;
    color: #fff;
}

#projectbox2 {
    border: #2FF3FF 2px solid;
    padding: 20px;
    border-radius: 7px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#zenith {
    border: #2FF3FF 2px solid;
    border-radius: 7px;
    padding: 15px;
    width: 400px;
    transition: all 0.2s ease-in-out;
}

#zenith:hover {
    background-color: #4f4f4f;
}

#zenith a {
    background-color: #333333;
    font-size: 20px;
    border: #2FF3FF 2px solid;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#zenith a:hover {
    background-color: #4f4f4f;
}

#forulove {
    border: #2FF3FF 2px solid;
    border-radius: 7px;
    padding: 15px;
    width: 400px;
    transition: all 0.2s ease-in-out;
}

#forulove:hover {
    background-color: #4f4f4f;
}

#forulove a {
    background-color: #333333;
    align-self: end;
    font-size: 20px;
    border: #2FF3FF 2px solid;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#forulove a:hover {
    background-color: #4f4f4f;
}

#pudimsoft {
    border: #2FF3FF 2px solid;
    border-radius: 7px;
    padding: 15px;
    width: 400px;
    transition: all 0.2s ease-in-out;
}

#pudimsoft:hover {
    background-color: #4f4f4f;
}

#pudimsoft a {
    background-color: #333333;
    font-size: 20px;
    border: #2FF3FF 2px solid;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#pudimsoft a:hover {
    background-color: #4f4f4f;
}

#langsection {
    background-color: #333333;
    padding: 50px;
    color: #fff;
}

footer {
    background-color: black;
    height: auto;
    padding: 20px;
    color: #fff;
}

footer b a {
    text-decoration: underline #2FF3FF;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

footer b a:hover {
    color: #2FF3FF;
    text-shadow: #2FF3FF 0 0 5px;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        gap: 40px;
        display: none;
    }

    aside {
        color: #ffffff;
        position: fixed;
        width: 100%;
        background-color: #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: #2FF3FF solid 2px;
        z-index: 2;
    }

    .menu-icon {
        fill: #ffffff;
        transition: all 0.2s ease-in-out;
    }

    .menu-label {
        position: relative;
        display: flex;
        padding: 10px;
        z-index: 2;
    }

    .menu-input:checked~nav {
        display: flex;
    }

    .menu-input:checked~.menu-label .menu-icon {
        fill: #2FF3FF;
    }

    #qsousection {
        padding-top: 60px;
        display: grid;
        height: 700px;
        justify-content: center;
        overflow: auto;
    }

    #projectbox2 {
        padding: 10px;
        border-radius: 7px;
        background-color: #333333;
        display: block;
        justify-content: center;
    }

    #zenith {
        margin-bottom: 10px;
        padding: 10px;
        width: auto;
    }

    #forulove {
        margin-bottom: 10px;
        padding: 10px;
        width: auto;
    }

    #pudimsoft {
        padding: 10px;
        width: auto;
    }
}